@-ms-viewport {
  width: device-width;
}

@import "normalize";
/*@import "compass";*/
@import "mixins";
@import "colors";

$no-mq-support: true;
$serve-to-nomq-max-width: 61em;
@import "sb-media";

@import "styles";

.canvas {
	min-width: 32em;
}

@media print {
  @import "print";
}